body{
    background-color: #333;
    color:white;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;  /*se indica que se usara GRID*/
    grid-gap: 20px; /*espaciados*/
    grid-template-columns: repeat(3, 1fr); /*se indica que la pagina tendra 3 columnas*/
    grid-template-rows: repeat(4, auto); /*se indica que la pagina tendra 4 filas*/
    grid-template-areas: "header header header"
                        "contenido contenido sidebar"
                        "contenido contenido sidebar"
                        "Widget-1 Widget-2 sidebar"
                        "footer footer footer";
            
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background-color: lightcoral;
    color:#333;
    padding: 20px;
    border-radius: 4px;
}
.contenedor .header {
    background-color: darkseagreen;
    color: #333;
    grid-area: header;
}
.contenedor .contenido {
    background-color: darkslateblue;
    color: black;
    grid-area: contenido;
}
.contenedor .sidebar {
    background-color: darkgoldenrod;
    text-align: center; /*centrar texto horizontal*/
    display: flex; /*uso de flex para centrar texto*/
    align-items: center;
    justify-content: center;
    grid-area: sidebar;
}
.contenedor .Widget-1,
.contenedor .Widget-2 {
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor .Widget-1{
    grid-area: Widget-1;
}
.contenedor .Widget-2 {
    grid-area: Widget-2;
}
.contenedor .footer{
    background-color: teal;
    grid-area: footer;
}